* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(planet.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links {
    text-align: left;
    
}
.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;

}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.wrapper{
    background-color: #e7d8d8;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 50px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}
.main {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 35px;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
p {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}
.para {
    margin: 2%;
    border-radius: 12px;
}

.gallery-col img {
    width: 100%;
}
.gallery {
    margin: 0 12%;
    padding-bottom: 3.5%;
}
.member-info {
    width: 30%;
    height: 60%;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 425px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
.member-info:hover {
    transform: scale(1.05);
}
.member-info h3 {
    color: #333;
    font-size: 28px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.member-info:hover h3 {
    color: #002f65;
}
.member-info p {
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.member-info a {
    color: black;
    text-decoration: none;
    font-size: large;
}
.member-info a:hover {
    text-decoration: none;
    color: #002f65;

}
.student-photo {
    border-radius: 50%;
    margin-top: 10%;
    height: 200px;
    width: 200px;
}
#footer {
    background-color: rgb(172, 164, 164);
    padding-top: 10px;
    text-align: center;
font-size: 15px;
}
#footer p {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}
.container p{
    font-size: medium;
}
.para ul li {
    list-style: none;
    line-height: 222%;
}